<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto my-4" *ngFor="let atm of this.atmList">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <ul>
                        <li>City: {{atm.address.city}}</li>
                        <li>Address: {{atm.address.street}} {{atm.address.housenumber}}</li>
                        <li>Postal code: {{atm.address.postalcode}}</li>
                        <li>Geo Location: 
                            <p>({{atm.address.geoLocation.lat}}, {{atm.address.geoLocation.lng}})</p>
                        </li>
                        <li>Distance: {{atm.distance}}</li>
                        <li>Type: {{atm.type}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>